.spot-view-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
}

.bottom-row {
  display: grid;
  align-items: start;
  justify-self: start;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}

.spot-header {
  text-align: left;
}

.spot-name {
  font-size: 40px;
  font-weight: bold;
}

.city-state {
  font-size: 25px;
  color: rgb(87, 85, 85);
}

.spot-country {
  font-size: 20px;
  color: rgb(132, 131, 131);
}

.spot-images-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
  margin-bottom: 20px;
}

.preview-img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;

}

.non-preview-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

}

.non-prev {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.spot-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: none; 
}

.spot-desc h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: black;
}

.spot-desc p {
  font-size: 20px;
  color: rgb(132, 131, 131);
}

.spot-booking-container {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.spot-price h2 {
  font-size: 30px;
  font-weight: bold;
  display: inline;
}

.spot-reviews-ratings {
  font-size: 18px;
  color: black;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.reserve-button {
  background-color: lightcoral;
  color: white;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.review-header {
  font-size: 25px;
   font-weight: bold;
   color: black;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

@media (max-width: 900px) {
  .spot-images-container {
    flex-direction: column;
  }

  .non-preview-image {
    grid-template-columns: repeat(2, 1fr);
  }

  .spot-info-container {
    flex-direction: column;
    text-align: left;
  }

  .spot-price,
  .spot-reviews-ratings {
    text-align: left;
    margin-top: 20px;
  }
}
