.signup-page {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 100%;
     width: 100%;
}

.signup-header {
     color: darkcyan;
     font-size: 50px;
     margin-bottom: 15px;
}

.signup-form {
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   width: 350px;
   max-width: 100%;
   text-align: center;
}

.signup-form h1 {
     text-align: center;
     margin-bottom: 20px;
     font-size: 25px;
}

.signup-form label {
     display: block;
     margin-bottom: 10px;
     font-size: 15px;
}

.signup-form input {
   width: 100%;
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid black;
   border-radius: 5px;
   box-sizing: border-box;
}

.signup-form input:focus {
   outline: 1px solid antiquewhite;
}

.signup-form button {
     width: 100%;
     padding: 15px;
     font-size: 15px;
}
